<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wzq.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.MainActivity"></activity>
        <activity android:name=".activity.Next7DayWeatherActivity"></activity>
        <activity android:name=".activity.PreferenceActivity"></activity>
        <activity
            android:name=".activity.UpdatedActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">

        </activity>
        <activity android:name=".activity.TodayWeatherActivity">

        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar"></activity>
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
